<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Hello, world!</title>
    <link rel="stylesheet" href="/estilo.css" />
</head>
<body>
    <div class="container">
    	<h1>${saludo}</h1>
        
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-link">Link</button>

    </div>
</body>
</html>
